<!--The content below is only a placeholder and can be replaced.-->

<div>
  <!--<h1>{{pageTitle}}</h1>-->
  <!--<div>My First Component</div>-->
  <!--<pm-products></pm-products>-->
  <!--<app-root></app-root>-->
  <div class="container">
    <nav class="navbar navbar-default">
      <a class="navbar-brand">{{pageTitle}}</a>
      <ul class="nav navbar-nav">
        <li><a>Select Course</a></li>
        <li><a>Select Tee</a></li>
      </ul>
    </nav>
    <div>
      <app-select-course></app-select-course>
    </div>
  </div>
</div>


